<!DOCTYPE html>
<html>
<head>
  <title>Alex Muchiri - Part Designer, Part Developer</title>
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header id="main_navigation" class="clearfix">
  <%= link_to "Alex Muchiri", root_path, class: "name" %>
	<nav>
		<%= link_to "Articles", posts_path %>
		<%= link_to "Projects", projects_path %>
		<a href="#">Contact</a>
	</nav>
  </header>

  <% if notice %>
    <p class="notice"><%= notice %></p>
  <% elsif alert %>
    <p class="alert"><%= alert %></p>
  <% end %>  


<%= yield %>

<footer id="main_footer">
  <p class="copyright">&copy; 2017 Alex Muchiri</p>
  <nav>
    <a href="https://facebook.com/alex.muchiri94" target="_blank"><i class="fa fa-facebook"></i></a>
    <a href="https://twitter.com/alex_muchiri" target="_blank"><i class="fa fa-twitter"></i></a>
    <a href="http://github.com/alex-muchiri" target="_blank"><i class="fa fa-github"></i></a>
  </nav>
</footer>
</body>
</html>
